.side-panel-content {
  padding: 1rem;
}

.navigation-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  background-color: #6a425c;
  transition: all 0.3s ease;
  color: white;
}

.title {
  font-size: 1.2rem;
  font-weight: 600;
  flex: 1;
  margin: 0;
  transition: color 0.3s ease;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.title svg {
  width: 2rem;
}

.settings-dropdown {
  position: relative;
}

.settings-dropdown button {
  background: none;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.dropdown-content {
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  pointer-events: none;
}

.dropdown-content.open {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.dropdown-content button {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  width: 100%;
  text-align: left;
  transition: background-color 0.3s ease;
}

.dropdown-content button:hover {
  background-color: #f1f1f1;
}

.error-message {
  background-color: #fee2e2;
  border: 1px solid #f87171;
  color: #b91c1c;
  padding: 0.75rem 1rem;
  margin-bottom: 1rem;
  border-radius: 0.25rem;
  animation: fadeIn 0.5s ease;
}

.api-key-section {
  margin-bottom: 1rem;
}

.api-key-section p {
  margin-bottom: 1rem;
}

.start-button,
.change-key-button {
  display: block;
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}

.start-button {
  background-color: #10b981;
  color: white;
}

.change-key-button {
  background-color: #d1d5db;
  color: #374151;
}

.divider {
  margin: 1rem 0;
  border: none;
  border-top: 1px solid #e5e7eb;
}

.captions-section {
  margin-top: 1rem;
}

.caption-preview {
  margin-bottom: 0.5rem;
}

.main-content h2 {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.action-buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.action-button {
  display: block;
  width: 100%;
  padding: 0.75rem;
  background-color: #ffa9a9;
  color: white;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: all 0.3s ease;
  transform: translateY(0);
  font-size: 1rem;
}

.action-button:hover {
  background-color: #ffa9a9cc;
  transform: translateY(-3px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.processing {
  animation: pulse 1.5s infinite;
  text-align: center;
  margin-top: 1rem;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
